<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery galleryTitle="Vekabacken">

<image imageURL="images/10275388.jpg" linkURL="images/10275388.jpg"
	linkTarget="_blank">
	<title>Huvudbyggnad och Gårdshus med uppfart</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275314.jpg" linkURL="images/10275314.jpg"
	linkTarget="_blank">
	<title>Uppfart</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275405.jpg" linkURL="images/10275405.jpg"
	linkTarget="_blank">
	<title>Huvudbyggnad från sydväst</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275400.jpg" linkURL="images/10275400.jpg"
	linkTarget="_blank">
	<title>Vy över odlingslådor och norra delen av huset</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275335.jpg" linkURL="images/10275335.jpg"
	linkTarget="_blank">
	<title>Baksidan av huset</title><caption><![CDATA[]]></caption>
</image>

<!--
<image imageURL="images/10275355.jpg" linkURL="images/10275355.jpg"
	linkTarget="_blank">
	<title>Uteplats</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275358.jpg" linkURL="images/10275358.jpg"
	linkTarget="_blank">
	<title>Planteringslådor</title><caption><![CDATA[]]></caption>
</image>
-->


<image imageURL="images/10275394.jpg" linkURL="images/10275394.jpg"
	linkTarget="_blank">
	<title>Groventré (utifrån)</title><caption><![CDATA[]]></caption>
</image>

<!--
<image imageURL="images/10275406.jpg" linkURL="images/10275406.jpg"
	linkTarget="_blank">
	<title>Sommarbild groventré (utifrån)</title><caption><![CDATA[]]></caption>
</image
<image imageURL="images/10275324.jpg" linkURL="images/10275324.jpg"
	linkTarget="_blank">
	<title>Huvudbyggnaden (sommar)</title><caption><![CDATA[]]></caption>
</image>
-->
<image imageURL="images/10275311.jpg" linkURL="images/10275311.jpg"
	linkTarget="_blank">
	<title>Gårdshus</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275334.jpg" linkURL="images/10275334.jpg"
	linkTarget="_blank">
	<title>Entré (utifrån)</title><caption><![CDATA[]]></caption>
</image>


<image imageURL="images/10275302.jpg" linkURL="images/10275302.jpg"
	linkTarget="_blank">
	<title>Entré</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275344.jpg" linkURL="images/10275344.jpg"
	linkTarget="_blank">
	<title>Tolett</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275342.jpg" linkURL="images/10275342.jpg"
	linkTarget="_blank">
	<title>Handfat i toalett</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275404.jpg" linkURL="images/10275404.jpg"
	linkTarget="_blank">
	<title>Entré från sällskapsrum</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275379.jpg" linkURL="images/10275379.jpg"
	linkTarget="_blank">
	<title>Vy över sällskapsrum från entré</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275382.jpg" linkURL="images/10275382.jpg"
	linkTarget="_blank">
	<title>Sällskapsrum med vy över entré</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275383.jpg" linkURL="images/10275383.jpg"
	linkTarget="_blank">
	<title>Matbord i sällskapsrum</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275321.jpg" linkURL="images/10275321.jpg"
	linkTarget="_blank">
	<title>Sällskapsrum</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275381.jpg" linkURL="images/10275381.jpg"
	linkTarget="_blank">
	<title>Täljstenskamin i sällskapsrum</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275367.jpg" linkURL="images/10275367.jpg"
	linkTarget="_blank">
	<title>Sällskapsrum med vy över TV-rum, täljstenskamin och kök</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275301.jpg" linkURL="images/10275301.jpg"
	linkTarget="_blank">
	<title>TV-rum</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275330.jpg" linkURL="images/10275330.jpg"
	linkTarget="_blank">
	<title>TV-rum</title><caption><![CDATA[]]></caption>
</image>



<image imageURL="images/10277694.jpg" linkURL="images/10277694.jpg"
	linkTarget="_blank">
	<title>Hall i familjedel</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10277700.jpg" linkURL="images/10277700.jpg"
	linkTarget="_blank">
	<title>Badrum</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275309.jpg" linkURL="images/10275309.jpg"
	linkTarget="_blank">
	<title>Spegel i Badrum</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275333.jpg" linkURL="images/10275333.jpg"
	linkTarget="_blank">
	<title>Badkar i Badrum</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275299.jpg" linkURL="images/10275299.jpg"
	linkTarget="_blank">
	<title>Dusch i Badrum</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10277697.jpg" linkURL="images/10277697.jpg"
	linkTarget="_blank">
	<title>Sovrum 1</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275298.jpg" linkURL="images/10275298.jpg"
	linkTarget="_blank">
	<title>Sovrum 1</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10277698.jpg" linkURL="images/10277698.jpg"
	linkTarget="_blank">
	<title>Sovrum 1 mot utgång</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275341.jpg" linkURL="images/10275341.jpg"
	linkTarget="_blank">
	<title>Garderobsdörrar i sovrum 1</title><caption><![CDATA[]]></caption>
</image>

<image imageURL="images/10277699.jpg" linkURL="images/10277699.jpg"
	linkTarget="_blank">
	<title>Sovrum 2</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10277696.jpg" linkURL="images/10277696.jpg"
	linkTarget="_blank">
	<title>Sovrum 2</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275387.jpg" linkURL="images/10275387.jpg"
	linkTarget="_blank">
	<title>Platsbyggd garderob i sovrum 2</title><caption><![CDATA[]]></caption>
</image>


<image imageURL="images/10277701.jpg" linkURL="images/10277701.jpg"
	linkTarget="_blank">
	<title>Sovrum 3</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275398.jpg" linkURL="images/10275398.jpg"
	linkTarget="_blank">
	<title>Sovrum 3</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275397.jpg" linkURL="images/10275397.jpg"
	linkTarget="_blank">
	<title>Garderob i sovrum 3</title><caption><![CDATA[]]></caption>
</image>




<image imageURL="images/10275349.jpg" linkURL="images/10275349.jpg"
	linkTarget="_blank">
	<title>Groventré</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275374.jpg" linkURL="images/10275374.jpg"
	linkTarget="_blank">
	<title>Dusch i groventré</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275332.jpg" linkURL="images/10275332.jpg"
	linkTarget="_blank">
	<title>Tvättavdelning i Groventré</title><caption><![CDATA[]]></caption>
</image>

<image imageURL="images/10275384.jpg" linkURL="images/10275384.jpg"
	linkTarget="_blank">
	<title>Diskbänk i kök</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275318.jpg" linkURL="images/10275318.jpg"
	linkTarget="_blank">
	<title>Kök</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275336.jpg" linkURL="images/10275336.jpg"
	linkTarget="_blank">
	<title>Kök</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275402.jpg" linkURL="images/10275402.jpg"
	linkTarget="_blank">
	<title>Kök</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275357.jpg" linkURL="images/10275357.jpg"
	linkTarget="_blank">
	<title>Spis i kök</title><caption><![CDATA[]]></caption>
</image>

<image imageURL="images/10275375.jpg" linkURL="images/10275375.jpg"
	linkTarget="_blank">
	<title>Utsikt över hornborgasjön från köket</title><caption><![CDATA[]]></caption>
</image>
<!--
<image imageURL="images/10275366.jpg" linkURL="images/10275366.jpg"
	linkTarget="_blank">
	<title>Utsikt över hornborgasjön</title><caption><![CDATA[]]></caption>
</image>
-->
<image imageURL="images/10275373.jpg" linkURL="images/10275373.jpg"
	linkTarget="_blank">
	<title>Utsikt över hornborgasjön</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10275359.jpg" linkURL="images/10275359.jpg"
	linkTarget="_blank">
	<title>Solnedgång över Hornborgasjön</title><caption><![CDATA[]]></caption>
</image>
<image imageURL="images/10277695.jpg" linkURL="images/10277695.jpg"
	linkTarget="_blank">
	<title>Lantmäteriet</title><caption><![CDATA[]]></caption>
</image>


<!--
<image imageURL="images/10275315.jpg" linkURL="images/10275315.jpg"
	linkTarget="_blank">
	<title>Groventré (utifrån)</title><caption><![CDATA[]]></caption>
</image>
-->

<!--
<image imageURL="images/10275327.jpg" linkURL="images/10275327.jpg"
	linkTarget="_blank">
	<title>Matbord i sällskapsrum</title><caption><![CDATA[]]></caption>
</image>
-->

<!--
<image imageURL="images/10275338.jpg" linkURL="images/10275338.jpg"
	linkTarget="_blank">
	<title>Garage (innifrån)</title><caption><![CDATA[]]></caption>
</image>
-->



<!--
<image imageURL="images/10275391.jpg" linkURL="images/10275391.jpg"
	linkTarget="_blank">
	<title>Detaljbild över diskbänk och diskmaskin</title><caption><![CDATA[]]></caption>
</image>
-->

<!--
<image imageURL="images/10275399.jpg" linkURL="images/10275399.jpg"
	linkTarget="_blank">
	<title>Detaljbild sovrum 2</title><caption><![CDATA[]]></caption>
</image>
-->


<!--
<image imageURL="images/10275403.jpg" linkURL="images/10275403.jpg"
	linkTarget="_blank">
	<title>Detaljbild vardagsrum</title><caption><![CDATA[]]></caption>
</image>
-->


<!--
  <image imageURL="images/tall.jpeg"
	thumbURL="thumbs/tall.jpeg"
	linkURL="images/tall.jpeg"
	linkTarget="_blank">
	<title>Thanks!</title>
    <caption><![CDATA[]]></caption>
  </image>
-->
</juiceboxgallery>
